body{
  
  text-align: center;
  background-size: cover;
  background: url("../img/real-genius-01-background.jpg");
}
div#quote {
	height:210px;
	font-size: 1.5em;
}
button#button {
	font-weight: bold;	
}