body{
  
  text-align: center;
background-image:url("../img/real-genius-01-background.jpg");
background-repeat: no-repeat;
background-size:cover;

}
div#quote {
	height:210px;
	font-size: 1.5em;
}
button#button {
	font-weight: bold;	
}